.highcharts-figure, .highcharts-data-table table {
    margin: 1em auto;
}

.highcharts-data-table table {
	border-collapse: collapse;
	border: 1px solid #fa3379;
	margin: 20px auto;
	text-align: center;
	width: 100%;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #fa3379;
}
.highcharts-data-table th {
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #fa3379;
}
.highcharts-data-table tr:hover {
    background: #fa3379;
}

.highcharts-background {
    background: transparent;
}

.highcharts-axis-label, .highcharts-xaxis-label, .highcharts-yaxis-label {
    color: #fa3379;
    width: 50px;
}

.highcharts-axis-title, .highcharts-xaxis-title, .highcharts-yxis-title {
    color: #fa3379;
}

.highcharts-axis-line {
    visibility: hidden;
}

.highcharts-tick {
    visibility: hidden;
}

.highcharts-grid .highcharts-yaxis-grid{
    visibility: hidden;
}

.highcharts-credits {
    visibility: hidden;
}

.highcharts-a11y-proxy-container, .highcharts-a11y-proxy-button {
    color: #fa3379;
}

.highcharts-legend-item {
    color: #fa3379;
}

.highcharts-grid {
    display: none;
 }


.highcharts-graph.poor {
	stroke: #9e1d46;
}
.highcharts-area.poor {
	fill: #9e1d46;
}
.highcharts-point.poor {
	fill: #9e1d46;
}
.highcharts-graph.okay {
	stroke: #d6255a;
}
.highcharts-area.okay {
	fill: #d6255a;
}
.highcharts-point.okay {
	fill: #d6255a;
}
.highcharts-graph.good {
	stroke: #fa3379;
}
.highcharts-area.good {
	fill: #fa3379;
}
.highcharts-point.good {
	fill: #fa3379;
}